
<header class="statcard statcard-success p-4 mb-4" id="header-title">
     <nav>
        <a class="statcard-desc" href="/" id="web-title">Software Engineer Blogspot</a>
        <div class="navigation-bar">
            <form class="form-inline my-2 my-lg-4">
              {{#if loggedIn}}
              <div class="dropdown">
                    <a href="/signup/{{id}}" class="btn btn-outline-info mr-sm-2 logout-button" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logout</a>
                  </div>
                </div>
              {{else}}
              <a href="/login" class="btn btn-outline-info mr-sm-2" type="button" id="login-button">Login</a>
              {{/if}}

              {{#if loggedIn}}
      
              {{else}}
              <a href="/signup" class="btn btn-outline-info mr-sm-2" type="button" id="signup-button">Sign Up</a>
              {{/if}}
            </form>
        </div>
    </nav>
  </header>