<header class="statcard statcard-success p-4 mb-4" id="header-title">
  <nav>
    <a class="statcard-desc" href="/" id="web-title">Software Engineer Blogspot</a>
    <div class="navigation-bar">
    <form class="form-inline my-2 my-lg-4"></form>
        <div class="dropdown">
          <a class="btn btn-outline-info mr-sm-2 logout-button" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logout</a>
        </div>
        <div class="dropdown">
          <a class="btn btn-outline-info mr-sm-2 logout-button" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reviews</a>
        </div>
         <div class="dropdown">
          <a href="/profile" class="btn btn-outline-info mr-sm-2 logout-button" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
        </div>
        <div class="dropdown">
          <a href="/home" class="btn btn-outline-info mr-sm-2 logout-button" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
        </div>
    </form>
    </nav>
</header>
    <div>
      <ul class="userList">
        <li class="card" id="card-tile">
            <a id="game-title" aria-disabled="true" disabled>Welcome, {{user.username}}</a>
            <p class="card" id="card-tile1">
            {{#if user.username}}
                <p id="review-tile">Username: {{user.username}}</p>
                <p id="review-tile">Email: {{user.email}}</p>
                <p id="review-tile">Password: {{user.password}}</p>
            {{/if}}
            </p>   
        </li>
    </ul>
</div>
